:root {
    --bg-color: white;
    --text-color: black;
    --nav-bg: white;
    --card-bg: white;
    --footer-bg: #eaeaea;
    --shadow-color: rgba(8, 157, 161, 0.5); 
    --accent-color: #089da1; 
    --hover-color: #027d81;
    --side-bar-bg: rgba(255, 255, 255, 0.174);
    --side-bar-sh: rgba(0,0,0,0.1);
    --btn-hover: #067579;
    --search--bg :#cacaca;
}

body.dark-mode {
    --bg-color: #141414;  
    --text-color: #d0dcda;   
    --nav-bg: #131212;       
    --card-bg: #10181941;  
    --hover-color: #43b2ae;  
    --shadow-color: #2c7876; 
    --footer-bg: #141414;    
    --search--bg: #dce2e1;
    --btn-hover: #2e7b82;
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

a {
    color: var(--text-color); 
}

section {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    background: url(/image/bg.png);
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat; 
    position: relative;

    nav {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content:space-around;
        box-shadow: 0 0 8px var(--shadow-color);
        background: var(--nav-bg);
        position: fixed;
        padding: 15px 5%;
        top: 0;
        z-index: 1000;

        .logo {   
            width: 5%;
            max-width: 200px;

            img {
                width: 100%;
                cursor: pointer;
                transition: 0.3s ease;
            }

            img:hover {
                transform: scale(1.05);
            }
        }
        
        .var_list {
            display: flex;

            li {
                padding: 0 15px;

                a {
                    transition: 0.3s;
                    color: var(--text-color);
                }

                a:hover {
                    color: var(--hover-color); 
                }
            } 
        }

        .side_bar {
            position: fixed;
            display: flex;
            top: 0;
            right: -100%;
            height:100vh;
            width: 100%;
            z-index: 1001;
            flex-direction: column;
            padding-top: 15%;;
            align-items: center;
            background-color: var(--side-bar-bg);
            backdrop-filter: blur(10px);
            transition: 0.02s;
            box-shadow: -5px 0 10px var(--side-bar-sh);

            li {
                margin: 20px 0;

                a {
                    color: var(--text-color);
                    font-size: 20px;
                    background-color: none;
                }

                a:hover {
                    color: var(--hover-color); 
                }
            }

            .close_btn {
                font-size: 25px;
                cursor: pointer;
                color: var(--accent-color);
                padding-bottom: 5%;
            }

            .close_btn:hover {
                color: var(--hover-color);
                transform: scale(1.1);
            }
        }

        .side_bar.active {
            right: 0;
        } 

        .nav_icons {
            gap: 50%;
            display: flex;

            i {
                font-size: 120%;
                cursor: pointer;
                transition: 0.3s;
            }

            i:hover {
                color: var(--hover-color);
                transform: scale(1.1);
            }
            
            .fa-bars {
                font-size: 120%;
                cursor: pointer;
                display: none;
            }
            
            .fa-bars:hover {
                color: var(--hover-color);
                transform: scale(1.1);
            }
        }   
    }

    .Home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10% 5% 0;
        width: 100%;
        flex-wrap: wrap;

        .home_tag {
            flex: 1;
            min-width: 300px;

            h1 {
                font-size: 50px;
                margin-top: 20px;
                margin-bottom: 30px;
                line-height: 1.2;

                span {
                    color: var(--accent-color);
                    font-size: 51px;
                }
            }

            p {
                width: 90%;
                text-align: justify;
                line-height: 1.6;
                margin-bottom: 55px;
            }

            .learn_btn {
                background: var(--accent-color);
                padding: 10px 30px;
                color: var(--text-color);
                transition: 0.3s;
            }

            .learn_btn:hover {
                background: var(--btn-hover) ;
            }
        }
        
        .home_img {
            flex: 1;
            display: flex;
            justify-content: center;
            min-width: 300px;

            img {
                width: 100%;
                max-width: 600px;
            }
        }
    }
}

.services {
    background-color: var(--bg-color-bg);
    text-align: center;
    justify-content: space-between;
    padding: 5% 10%;
    background: var(--bg-color);

    .serv_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around ;
        gap: 50px;
        width: 100%;

        .serv_cards {
            flex: 1 2 120px;
            padding: 15px 10px;
            justify-items: center;
            margin: 0;
            box-shadow: 0 0 8px var(--shadow-color);
            transition: 0.3;
            max-width: 300px;
            background: var(--card-bg);
            color: var(--text-color);

            i {
                font-size: 40px;
                color: var(--accent-color);
                margin-bottom: 15px;
            }

            h3 {
                font-size: 18px;
                margin-bottom: 15px;
            }

            p {
                font-size: 14px;
            }
        }

        .serv_cards:hover {
            transform: scale(1.01);
        }
    }
}

.About {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10% 2% 5% 5%;
    gap:50px;
    background: var(--bg-color);

    .about_tag {
        flex: 1;
        min-width: 300px;

        h1 {
            font-size: 40px;
            margin-top: 20px;
            margin-bottom: 30px;
            line-height: 1.2;

            span {
                color: var(--accent-color);
                font-size: 51px;
            }
        }

        p {
            width: 90%;
            text-align: justify;
            line-height: 1.6;
            margin-bottom: 55px;
        }

        .learn_btn {
            background: var(--accent-color);
            padding: 10px 30px;
            color: var(--text-color);
            transition: 0.3s;
        }

        .learn_btn:hover {
            background: var(--btn-hover);
        }
    }
        
    .about_img {
        flex: 1;
        display: flex;
        justify-content: center;
        min-width: 300px;

        img {
            width: 100%;
            max-width: 600px;
        }
    }
}


footer {
    width: 100%;
    background: var(--footer-bg);

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2%;

        .tag {
            flex: 1 1;
            margin-right: 2%;
            margin-left: 2%;

            img {
                width: 40%;
                margin-bottom: 4%;
            }

            p {
                line-height: 1.5;
                font-size: 14px;
                text-align: justify;
                margin-bottom: 20px;
                min-width: 130px;
            }

            h1 {
                font-size: 20px;
                margin-bottom: 5%;
            }

            a {
                color: var(--text-color);
                display: block;
                text-decoration: none;
                margin-bottom: 10px;
                font-size: 15px;
                transition: 0.3s;
                cursor: pointer;
            }

            a:hover {
                color: var(--hover-color);
            }

            .social_links {
                display: flex;
                gap: 10%;

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }

                a:hover {
                    transform: scale(1.1);
                    color: var(--hover-color);
                }
            }

            i {
                margin-right: 10px;
            }

            .search_bar {
                display: flex;
                flex-direction: column;
                height: 30px;
                max-width: 240px;
                background: var(--search--bg);
                border-radius: 25px;

                input {
                    width: 100%;
                    padding: 3% 5%;
                    border: none;
                    outline: none;
                    background: none;
                }

                button {
                    font-size: 15px;
                    padding: 7px 15px;
                    width: fit-content;
                    background-color: var(--accent-color);
                    border: none;
                    margin-top: 15px;
                    border-radius: 25px;
                    color: var(--text-color);
                    cursor: pointer;
                }

                button:hover {
                    background-color: var(--btn-hover);
                    transform: scale(1.01);

                }
            }
        }
    }
    .end {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2% 0 2%;
        font-size: 15PX;
        color: var(--text-color);

        span {
            color: var(--accent-color);
        }
    }
}

@media (max-width: 768px) {
    section {
        height: fit-content;
        padding-bottom: 10%;
        align-content: center;
        justify-content: space-between;

        nav {
            justify-content: space-around;

            .logo {
                width: 15%;
            }

            .var_list {
                display: none;
            }
            
            .nav_icons {
                display: flex;
                padding-right: 20%;
                justify-content: space-between;
                
                .fa-bars {
                    display: block;
                }
            }
       }
   }

    .Home {
        flex-direction: column;
        text-align: center;
        padding-top: 100px;

        .home_tag {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                width: 100%;
                text-align: center;
            }
        }

        .home_img {
            width: 80%;
            padding-top: 10%;
        }
    }

    .About {
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    
        .about_tag {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                width: 80%;
                text-align: center;
                line-height: 1.5;
            }
        }
        .about_img {
            width: 80%;
            padding-top: 5%;
        }
    }

    footer {
        .footer {     
            gap: 10%;
            padding: 5%;

            .tag {
                min-width: 40%;
                padding-bottom: 6%;
            
                p {
                    font-size: 12px;                        
                }
            
                img {
                    width: 60%;
               }
            
               a {
                    font-size: 14px;
                }
            
                .social_links {
                    gap: 5%;
                }
            }
        }

        .end {
            padding: 7% 0 5%;
        }
    }
}
