* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* box-sizing: border-box; */
}

body {
    width: 100%;
    height: 100vh;
    background: url(/image/bg.png);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 0 8px #089da1;
        background: white;
        position: fixed;
        /* left:0; z-indecx:100; */

        .logo img {
            width:20%;
            cursor: pointer;
            margin: 4% 0;
        }
        .logo img:hover {
            transform: scale(1.05);
        }

        li {
            display: inline-block;
            padding: 0 10px;

            a {
                display: flex;
                color: black;
                text-decoration: none;
                list-style: none;
            }
            a:hover {
                color: #027d81;
            }
        }

        .nav_icons i {
            margin: 0 5px;
            font-size: 18px;
            cursor: pointer;
        }
        .nav_icons i:hover {
            color: #089da1;
            transform: scale(1.1);  
        }


    }
}