
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#089da1;
    --secondary:#85cfd1;
  
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
a{
    text-decoration: none;
}
.container{
    width: calc(100% - 100px);
    margin: auto;
}

/*start featured books*/
.featured-books{
   text-align: center;
   padding: 50px 0;
}
.featured-books h2{
    font-size:xx-large;
    font-weight:bold;
    margin-bottom: 30px;
}
.slider{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
   scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
/*
.book-card {
    min-width: 250px;     
    max-width: 250px;
}*/

.slider::-webkit-scrollbar {
    height: 6px;
    background-color: rgb(220, 217, 217);
}

.slider::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}
.book-card {
    min-width: 250px;
    max-width: 250px;    /*very important to stay sliding*/
    border: 1px solid #adadad;
    padding: 25px;
    border-radius: 2px;
    scroll-snap-align: center; /*عشان اوقف كل مرة عند center */
    background: #fff;
}
.book-card img {
    width: 100%;
    height: 300px;       
    object-fit: cover;
    border-radius: 2px;
}
.book-card:hover{
    box-shadow: 0 0 4px  var(--primary);
}
.book-card {
    h3{
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
.author {
    color: gray;
    font-size: 14px;
    margin-bottom: 5px;
}

.catagory {
    color: var(--primary);
    font-size: 14px;
}

.price {
    margin: 10px 0;
}

.price .new {
    font-weight: bold;
}

.price .old {
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}

.btn button{
    width: 50%;
    padding: 7px 5px;
    border: 1px solid var(--primary);
    background: white;
    border-radius: 2px;
    cursor: pointer;
    
}

.btn button:hover {
    background: var(--primary);
    color: white;
    transition: 0.5s;
}

/*end featured books*/

/*start new arrivals*/
.new-arrivals{
  text-align: center;
  padding: 50px 0;
}
.new-arrivals h2{
    font-size: xx-large;
    font-weight: bold;
}
.new-arrivals{
    .book-product{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
       
    }
}
.new-arrivals{
    .book-card{
         width: calc((100% - 120px) / 5);
    }
}
.new-arrivals{
    .book-card{
        .stars{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
}
.new-arrivals{
    .stars svg{
        width: 10%;
        margin-bottom: 10px;
    }
}
/*start media query*/

@media screen and (max-width:1470px){
 
    .new-arrivals .book-product{
        justify-content: center;
    }
    .new-arrivals .book-card{
        gap: 40px;
    }

}
/*end media query*/
/*end new arrivals*/