
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#089da1;
    --secondary:#85cfd1;
  
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
a{
    text-decoration: none;
}
.container{
    width: calc(100% - 100px);
    margin: auto;
}

/*start featured books*/
.featured-books{
   text-align: center;
   padding: 50px 0;
}
.featured-books h2{
    font-size:xx-large;
    font-weight:bold;
    margin-bottom: 30px;
}
.slider{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
   scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
/*
.book-card {
    min-width: 250px;     
    max-width: 250px;
}*/

.slider::-webkit-scrollbar {
    height: 6px;
    background-color: rgb(220, 217, 217);
}

.slider::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}
.book-card {
    min-width: 250px;
    max-width: 250px;    /*very important to stay sliding*/
    border: 1px solid #adadad;
    padding: 25px;
    border-radius: 2px;
    scroll-snap-align: center; /*عشان اوقف كل مرة عند center */
    background: #fff;
}
.book-card img {
    width: 100%;
    height: 300px;       
    object-fit: cover;
    border-radius: 2px;
}
.book-card:hover{
    box-shadow: 0 0 4px  var(--primary);
}
.book-card {
    h3{
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
.author {
    color: gray;
    font-size: 14px;
    margin-bottom: 5px;
}

.catagory {
    color: var(--primary);
    font-size: 14px;
}

.price {
    margin: 10px 0;
}

.price .new {
    font-weight: bold;
}

.price .old {
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}

.btn button{
    width: 50%;
    padding: 7px 5px;
    border: 1px solid var(--primary);
    background: white;
    border-radius: 2px;
    cursor: pointer;
    
}

.btn button:hover {
    background: var(--primary);
    color: white;
    transition: 0.5s;
}

/*end featured books*/

/*start new arrivals*/
.new-arrivals{
  text-align: center;
  padding: 50px 0;
}
.new-arrivals h2{
    font-size: xx-large;
    font-weight: bold;
}
.new-arrivals{
    .book-product{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
        justify-content: center;
       
    }
}
.new-arrivals{
    .book-card{
         width: calc((100% - 120px) / 5);
         min-width: 320px;
    }
}
.new-arrivals{
    .book-card{
        .stars{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
}
.new-arrivals{
    .stars svg{
        width: 10%;
        margin-bottom: 10px;
    }
}
/*start media query*/

@media screen and (max-width:1470px){
 
    .new-arrivals .book-product{
        justify-content: center;
    }
    .new-arrivals .book-card{
        gap: 40px;
    }

}
/*end media query*/

/*end new arrivals*/

/*start Reviews*/
.reviews{
    text-align: center;
    padding: 50px 0;
}
.reviews h2{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
   
}

.reviews-list{
display: flex;
flex-wrap: wrap;
padding-top: 20px;
justify-content:center;
gap: 30px;
}
.reviews{
    .book-card{
        width: calc((100% - 90px) / 4);
        min-width: 400px;
        padding: 30px 25px;
        text-align: start;
        height:auto;
    }
}
.reviews{
    .review-img{
       display: flex;
         justify-content: space-between;
         
    }
}
.reviews{
    .book-card img{
        width: 35%;
        height: 25%;
        border-radius: 50%;
        object-fit: cover;
      
    }
}
.reviews{
    .book-card h3{
        margin-bottom: 7px;
        font-weight: bolder;
    }
}
.reviews{
    .book-card p{
        color: #494949;
        line-height: 1.6;
        margin-bottom: 10px;
    }
}
.reviews{
    .book-card svg{
         width: 10%;
        margin-bottom: 10px;
    }
}
/*media query*/
@media screen and (max-width:1360px){
    .reviews{
        .book-card{
            width: 50%;
        }
    }
}
@media screen and (max-width:930px){
    .reviews{
        .book-card{
            width: calc((100% - 30px) / 2);
            min-width: 300px;
        }
    }
    
}
@media screen and (max-width:730px){
    .reviews{
        .book-card{
            width: 100%;
            min-width: 350px;
        }
    }
    
}
@media screen and (max-width:380px){
    .reviews{
        .book-card{
            min-width: 290px;
        }
    }
    
}
@media screen and (max-width:440px){
    .reviews{
        .book-card{
            min-width: 330px;
        }
    }
    
}
@media screen and (max-width:380px){
    .reviews{
        .book-card{
            min-width: 290px;
        }
    }
    
}
/*end Reviews*/

/*start hero-digital book section*/
/*
.hero{
    background:url('../img/digital book/banner.webp');
    background-repeat: no-repeat;
    margin: 50px 0;
    display: flex;
   position: relative;
}*/
.hero{
    .btn{
    width: 8%;
    padding: 7px 5px;
    border: 2px solid var(--primary);
    background: var(--primary);
    border-radius: 2px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 280px;
    left: 110px;
    transition: 0.5s;
    text-align: center;
    font-weight: normal;
    }
}
.hero .btn:hover{
    background-color: var(--secondary);
    color: white;
}
.hero {
    padding: 80px 0;
    text-align: center;
}

.hero .hero-content {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.hero-image {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    
}
/*media query*/
@media screen and (max-width: 2290px){
    .hero{
      .btn{
       top:350px;
       left: 130px;
    }
    }
   
    
}
@media screen and (max-width: 1760px){
    .hero{
      .btn{
       top:300px;
       left: 120px;
    }
    }
   
    
}
@media screen and (max-width: 1600px){
    .hero{
      .btn{
       top:270px;
       left: 110px;
    }
    }
   
    
}
@media screen and (max-width: 1340px){
    .hero{
      .btn{
       top:250px;
       left: 100px;
       width: fit-content;
    }
    }
   
    
}
@media screen and (max-width: 1220px){
    .hero{
      .btn{
       top:200px;
       left: 90px;
       width: fit-content;
    }
    }
   
    
}
@media screen and (max-width: 1000px){
    .hero{
      .btn{
       top:160px;
       left: 70px;
       
    }
    }
   
    
}
@media screen and (max-width: 790px){
    .hero{
      .btn{
       top: 130px;
    font-size: small;
    padding: 2px;
    left: 50px;
    }
    }
   
    
}
@media screen and (max-width: 635px){
    .hero{
      .btn{
       top: 105px;
    font-size: small;
    padding: 2px;
    left: 45px;
    }
    }
}
@media screen and (max-width: 530px){
    .hero{
      .btn{
       top: 91px;
    font-size: xx-small;
    font-weight: 200;
    padding: 2px;
    left: 35px;
    }
    }
}
@media screen and (max-width: 460px){
    .hero{
      .btn{
       top: 75px;
    font-size: xx-small;
    font-weight: 100;
    padding: 2px;
    left: 30px;
    }
    }
}
@media screen and (max-width: 370px){
    .hero{
      .btn{
       top: 60px;
    font-size: xx-small;
    font-weight: 100;
    padding: 2px;
    left: 25px;
    }
    }
}
/*end hero-digital book section*/